html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background: #ECE5CE;
  color: #774F38;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  display: table;
}

.Layout {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}